// External imports
@import "~bootstrap/scss/bootstrap";

//Import of internal scss components.
@import "components/navbar.scss";
@import "components/hero.scss";
@import "components/preview-products.scss";
@import "components/products.scss";
@import "components/footer.scss";
@import "components/banners.scss";
@import "components/product-details.scss";

.main-section {
	margin-top: 4rem;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}
